@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:wght@100;400&family=Rubik:wght@300&family=VT323&display=swap');body {
  background-color: rgb(41 52 98);
  font-family: "League Gothic", sans-serif;
  font-family: 'VT323', monospace;
  background-image: url("assets/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#reiniciar {
  display: none;
}
#seleccionar-ataque {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  margin: 0;
  color: rgb(240 248 255);
  font-size: 40px;
  text-align: center;
}

.subtitulo {
  font-size: 20px;
  color: rgb(240 248 255);
}
.botones-de-ataque {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  gap: 5px;
}
.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tarjeta-mokepon {
  width: 190px;
  height: 120px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  color: aliceblue;
  background-color: rgb(254 177 57);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.tarjeta-mokepon img {
  width: 100px;
  height: 100px;
}
#boton-seleccionar-mascota {
  font-family: "Poppins", sans-serif;
  background: rgb(41 52 98);
  outline: 2px solid white;
  color: rgb(240 248 255);
  border-style: none;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 20px;
  width: 180px;
  transition: all .5s;
}
#boton-seleccionar-mascota:active {
  opacity: .7s;
}
input {
  display: none;
}
input:checked + label {
  width: 200px;
  height: 130px;
  background-color: rgb(214 28 78);
}
.combate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.combate .personaje-combate {
  width: 185px;
  height: auto;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  color: rgb(240 248 255);
  background-color: rgb(254 177 57);
  box-sizing: border-box;
}
.personaje-combate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.personaje-combate img {
  width: 100px;
  height: 100px;
}
.fin-del-juego {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ataques p {
  background-color: rgb(240 248 255);
  margin: 4px;
  width: 24px;
  text-align: center;
  height: 24px;
  padding: 8px;
  border-radius: 22px;
}
#boton-reiniciar {
  font-family: "Poppins", sans-serif;
  background-color: rgb(214 28 78);
  color: rgb(240 248 255);
  border-style: none;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 20px;
  width: 180px;
  transition: all .5s;
}
#boton-reiniciar:hover{
  background: rgb(41 52 98);
  outline: 2px solid white;
}

.boton-de-ataque {
  font-family: "League Gothic", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: rgb(214 28 78);
  color: aliceblue;
  border-radius: 20px;
  padding: 10px;
  width: 120px;
}
#mensajes {
  color: rgb(240 248 255);
  width: 280px;
  padding: 20px;
  margin: 10px 0px;
  background-color: #202020;
  border-radius: 20px;
  text-align: center;
}

@media (max-width: 400px) {
  .tarjetas {
    flex-direction: column;
  }
  #botones {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .combate .personaje-combate {
  }
}
